<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Binn News
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            News
        </ion-list-header>

        <ion-item *ngFor="let new of news" [routerLink]="['/detail', new.id]">
            <ion-avatar slot="start">
                <img src="{{new._embedded['wp:featuredmedia']['0'].source_url}}" alt="Imagen">
            </ion-avatar>
            <ion-label text-wrap>
                <h2>
                    {{new.title.rendered}}
                </h2>
                <h4>
                    {{new.date | date:'short'}}
                </h4>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>